<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geminit.dao.CityDao">
    <resultMap id="BaseMap" type="com.geminit.entity.City">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="shortname" property="shortname" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="fullname" property="fullname" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="zip" property="zip" jdbcType="VARCHAR" />
        <result column="lng" property="lng" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="temperature" property="temperature" jdbcType="INTEGER" />
        <result column="pm2_5" property="pm2_5" jdbcType="INTEGER" />
    </resultMap>

    <select id="getCities" resultMap="BaseMap">
        SELECT
        *
        FROM city
        WHERE
        level=2
        ORDER BY id ASC
    </select>

    <select id="getProvinceByName" resultType="INTEGER">
        SELECT
        id
        FROM city
        WHERE
        name LIKE CONCAT(#{name},'%')
        AND
        level=1
    </select>

    <select id="getCityByName" resultMap="BaseMap">
        SELECT
        *
        FROM city
        WHERE
        level=2
        ORDER BY temperature DESC
        limit 0,10
    </select>

    <select id="getTop10TemperatureCities" resultMap="BaseMap">
        SELECT
        *
        FROM city
        WHERE
        level=2
        ORDER BY temperature DESC
        limit 0,10
    </select>

    <select id="getTop10Pm2_5Cities" resultMap="BaseMap">
        SELECT
        *
        FROM city
        WHERE
        level=2
        ORDER BY pm2_5 DESC
        limit 0,10
    </select>

    <update id="setTemperatureById">
        UPDATE
        city
        SET
        temperature=#{temperature}
        WHERE
        id=#{id}
    </update>

    <update id="setPm2_5ById">
        UPDATE
        city
        SET
        pm2_5=#{pm2_5}
        WHERE
        id=#{id}
    </update>


</mapper>