<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geminit.dao.LawDao">
    <resultMap id="BaseMap" type="com.geminit.entity.Law">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getTotalLawNum" resultType="Integer">
        SELECT
        COUNT(id)
        FROM law
    </select>

    <select id="getLaws" resultMap="BaseMap">
        SELECT
        *
        FROM law
        ORDER BY time DESC
        limit #{start},#{num}
    </select>

    <select id="getLawById" resultMap="BaseMap">
        SELECT
        *
        FROM law
        WHERE
        id=#{id}
    </select>

    <select id="getLatestLaw" resultMap="BaseMap">
        SELECT
        *
        FROM law
        ORDER BY time DESC
        limit 0,1
    </select>

    <update id="updateLaw">
        UPDATE
        news
        SET
        title=#{title}, content=#{content}, time=#{time}
        WHERE
        id=#{id}
    </update>

    <insert id="insertLaws">
        INSERT INTO law
        (title, time, content)
        VALUES
        (#{title}, #{time}, #{content})
    </insert>

    <delete id="deleteLawById">
        DELETE
        FROM law
        WHERE id=#{id}
    </delete>

</mapper>