<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geminit.dao.ShiroDao">
    <resultMap id="PermissionMap" type="com.geminit.entity.Permission">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="RoleMap" type="com.geminit.entity.Role">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getUserRoleByUserId" resultType="INTEGER">
        SELECT
        role_id
        FROM user_role
        WHERE
        user_id=#{id}
    </select>

    <select id="getPermissionsByRoleId" resultMap="PermissionMap">
        SELECT
        *
        FROM permission
        WHERE
        role_id=#{id}
    </select>


</mapper>